<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home page</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-11">
                            <h1 class="panel-title" style="font-size: 30px;" th:text="${user.userName} + ' home page'">Home page</h1>
                        </div>
                        <div class="btn-group" role="group">
                            <a class="btn btn-default" href="#" th:href="@{'/'}" role="button"
                               style="font-size: 20px; margin-top: 20px; margin-right: 20px;">Login page</a>
                            <a class="btn btn-success" href="#" th:href="@{'/user/' + ${user.id} + '/shop'}" role="button"
                               style="font-size: 20px; margin-top: 20px; margin-right: 20px;">Buy books</a>
                            <a class="btn btn-info" href="#" th:href="@{'/user/' + ${user.id} + '/myProfile'}" role="button"
                               style="font-size: 20px; margin-top: 20px;">My Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>